<main role="main" class="container">
  <h1 class="mt-5">&nbsp;</h1>
  <h5 class="mt-5">About Us</h5>
  <br/>
  This app captures your Geo-Location through your mobile/electronic device you are using.
  By clicking on Agree below, you are giving your permission to have your employer record and access your current Geo-Location.

<br/><br/>
<button class="btn btn-lg btn-primary btn-block" type="button" routerLink="/dashboard">Agree</button>
<br/><br/>
<button class="btn btn-lg btn-primary btn-block" type="button"  routerLink="/settings">Deny</button>
</main>