<!-- Begin page content -->
<main role="main" class="container">
  <h1 class="mt-5">&nbsp;</h1>
  <h5 class="mt-5">Login</h5>
  <br/>
  <span class="lead">
  <form class="form-signin">
    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    </div>
    <br/>
    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>
    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">
      Create New Account
    </p>
  </form>
</span>
</main>